.task-item {
  width: 324px;

  &-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    mat-card-title {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
    }
  }

  &-content {
    padding: 16px;
    font-size: 16px;
    opacity: .75;
  }

  mat-card {
    border: 1px solid #D4D4D4;
  }

  mat-card:hover {
    background-color: #f4f4f4;
  }
  mat-icon {
    opacity: 0.75;
  }
}
