<div class="login-container">
  <mat-card class="login-content" >
    <header class="login-header">
      <mat-toolbar class="login-toolbar" color="primary">Login</mat-toolbar>
    </header>

    <form cdkTrapFocus
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">

      <!-- USER LOGIN -->
      <mat-form-field>
        <mat-icon matPrefix>login</mat-icon>
        <input
          matInput
          cdkFocusInitial
          #input
          minlength="4"
          maxlength="20"
          type="text"
          placeholder="Login*"
          formControlName="login">

        <mat-error app-error-messages
          [control]="loginForm.get('login')!"
          class="error-message">
        </mat-error>

      </mat-form-field>

      <!-- PASSWORD -->
      <mat-form-field>
        <mat-icon matPrefix>lock</mat-icon>
        <input
          matInput
          autocomplete="false"
          placeholder="Password*"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          required>

        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          type="button"
          (keydown.enter)="$event.preventDefault()">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint class="form-hint" *ngIf="submitted">
          Enter a password of at least eight characters, one uppercase letter, and one number.
        </mat-hint>

        <mat-error app-error-messages
          [control]="loginForm.get('password')!"
          class="error-message">
        </mat-error>

      </mat-form-field>

      <mat-error *ngIf="!submitted" class="not-submitted">
        Something went wrong! Check your login or password and try again.
      </mat-error>

      <mat-divider></mat-divider>

      <!-- BUTTON SUBMIT -->
      <mat-card-actions>
        <button
          class="login-submit"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!loginForm.valid">
          Submit
        </button>
      </mat-card-actions>
    </form>

  </mat-card>
  <div class="login-hint">
    <p>Don't have an account? <a mat-button [routerLink]="['/signup']">Sign up</a></p>
  </div>
</div>
