<div class="signup-container">
  <mat-card class="signup-content">
    <header class="signup-header">
      <mat-toolbar class="signup-toolbar" color="primary">Sign Up</mat-toolbar>
    </header>
    <form
      [formGroup]="signUpForm"
      #formDirective="ngForm"
      (ngSubmit)="onSubmit(signUpForm, formDirective)">

      <!-- USER NAME -->
      <mat-form-field hintLabel="Max 20 characters">
        <mat-icon matPrefix>account_circle</mat-icon>
        <input
          matInput
          #input
          minlength="4"
          maxlength="20"
          type="text"
          placeholder="User Name*"
          formControlName="name"
          required>

        <mat-hint align="end" class="form-hint">{{input.value.length}}/20</mat-hint>

        <mat-error app-error-messages
          [control]="signUpForm.get('name')!"
          class="error-message">
        </mat-error>

      </mat-form-field>

      <!-- LOGIN -->
      <mat-form-field>
        <mat-icon matPrefix>login</mat-icon>
        <input
          matInput
          type="text"
          placeholder="Login*"
          formControlName="login">

          <mat-error app-error-messages
            [control]="signUpForm.get('login')!"
            class="error-message">
          </mat-error>

      </mat-form-field>

      <!-- PASSWORD -->
      <mat-form-field>
        <mat-icon matPrefix>lock</mat-icon>
        <input
          matInput
          autocomplete="false"
          placeholder="Password*"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          required>

        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          (click)="$event.preventDefault()">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint class="form-hint">Choose a password of at least eight characters, one uppercase letter and one number
        </mat-hint>

        <mat-error app-error-messages
          [control]="signUpForm.get('password')!"
          class="error-message">
        </mat-error>

      </mat-form-field>

      <mat-divider></mat-divider>

      <div class="form-action">
        <button
          class="signup-submit"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!signUpForm.valid">
          Submit
        </button>

      </div>
    </form>
  </mat-card>
</div>
