<section class="board-item-section">
  <div class="container">
    <div class="section-header">
      <div class="section-nav">

        <button mat-icon-button
          (click)="onBackBtnClick()">
          <mat-icon class="arrow-back">arrow_back_ios</mat-icon>
        </button>
        <h2 class="seaction-title">{{ board?.title }}</h2>
      </div>
      <button
        mat-stroked-button
        color="warn"
        (click)="onDeleteBoard()">

        <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
        Delete board
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="section-content">
      <button mat-raised-button color="primary" (click)="createColumn()">
        <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
        Create column
      </button>
      <mat-divider></mat-divider>
      <div class="task-list"
        cdkDropListGroup

        cdkDropList
        [cdkDropListData]="columnList"
        (cdkDropListDropped)="dropGroup($event)"
        cdkDropListOrientation="horizontal">

        <app-task-list
          cdkDrag
          [cdkDragData]="column"

          *ngFor="let column of columnList"
          [column]="column">
        </app-task-list>
      </div>

    </div>
  </div>
</section>
