<main>
<div class="back-img-01"></div>
<section class="welcome-block">
  <div class="welcome-block-container">
    <div class="banner">
      <header class="banner-header">
        <div class="header-title">
          <h2>Project Management
            <br>System</h2>
          <p>PM App is an application that helps an individual in a team or group of developers achieve their goals.</p>
        </div>
        <div class="header-action">
          <a mat-raised-button color="primary" [routerLink]="['/login']" class="started-btn">Get Started</a>
        </div>
      </header>

      <div class="banner-content">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/pm-app-angular.appspot.com/o/screenshot-pm-app.png?alt=media&token=0180fb15-add2-47c7-a5f2-a1a85866a683"
          alt="application screenshot">
      </div>
    </div>

    <div class="block-content">
      <h2 class="block-content-title">Work made easy with PM App</h2>
      <mat-card>
        <mat-card-header><mat-card-title></mat-card-title></mat-card-header>

        <mat-card-content>
          <div class="features-block">
            <div class="features-block-description left">
              <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">

                <mat-tab label="dashboards">
                  <ng-template mat-tab-label>
                    ...Dashboard...
                  </ng-template>
                  <div class="tab-container">
                    <h2 class="header">Customizable dashboards</h2>
                    <div class="tab-content">
                      <p>Get a detailed overview of workloads, pin important to-dos, follow important tasks.</p>
                      <p>Display information on large cards and easily find any project.</p>
                      <ul class="about-bullets">
                        <li>
                          <span class="bullet-symbol">
                            <mat-icon>task_alt</mat-icon>
                          </span>
                          Create Boards
                        </li>
                        <li>
                          <span class="bullet-symbol">
                            <mat-icon>task_alt</mat-icon>
                          </span>
                          Kanban Boards
                        </li>
                        <li>
                          <span class="bullet-symbol">
                            <mat-icon>task_alt</mat-icon>
                          </span>
                          Custom Boards
                        </li>
                      </ul>

                    </div>
                  </div>

                </mat-tab>

                <mat-tab label="board">
                  <ng-template mat-tab-label>
                    ...Board...
                  </ng-template>
                  <div class="tab-container">
                    <h2 class="header">Transparent Work Management</h2>
                    <div class="tab-content">
                      <p>Boards keep tasks organized and work moving forward.</p>
                      <p>Board view’s powerful drag-and-drop interface makes it a go-to option for agile teams.</p>
                      <ul class="about-bullets">
                        <li>
                          <span class="bullet-symbol">
                            <mat-icon>task_alt</mat-icon>
                          </span>
                          Unlimited Kanban Columns
                        </li>
                        <li>
                          <span class="bullet-symbol">
                            <mat-icon>task_alt</mat-icon>
                          </span>
                          Manage Your Columns
                        </li>
                        <li>
                          <span class="bullet-symbol">
                            <mat-icon>task_alt</mat-icon>
                          </span>
                          Custom Columns
                        </li>
                      </ul>
                    </div>
                  </div>
                </mat-tab>

                <mat-tab label="tasks">
                  <ng-template mat-tab-label>
                    ...Manage tasks...
                  </ng-template>
                  <div class="tab-container">
                    <h2 class="header">
                      Add your tasks.
                      <br>
                      Achieve more every day.
                    </h2>
                    <div class="tab-content">
                      <p>Push projects or tasks to completion by organizing your information on stacked cards.</p>
                      <ul class="about-bullets">
                        <li>
                          <span class="bullet-symbol">
                            <mat-icon>task_alt</mat-icon>
                          </span>
                          Create Tasks
                        </li>
                        <li>
                          <span class="bullet-symbol">
                            <mat-icon>task_alt</mat-icon>
                          </span>
                          Custom Workflow
                        </li>
                        <li>
                          <span class="bullet-symbol">
                            <mat-icon>task_alt</mat-icon>
                          </span>
                          Kanban Tasks
                        </li>
                      </ul>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>

            <div class="features-block-exp right">
              <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/pm-app-angular.appspot.com/o/screenshot-pm-app.png?alt=media&token=0180fb15-add2-47c7-a5f2-a1a85866a683" alt="screenshot app">
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="back-img-02"></div>

    <div class="about-course-block">
      <h2 class="block-content-title">About course</h2>
      <div class="about-course-content">
        <p>This project was created with the free online course
          <br>
          <a href="https://rs.school/js-en/" target="_blank">Javascript/Front-end Mentoring Program (in English)</a></p>
        <br>
        <p class="topic">Topics covered: <strong>Angular</strong>.</p>
        <br>
        <p><strong>RS School</strong> is free-of-charge and community-based education program conducted by
          <br>The Rolling Scopes developer community since 2013.</p>
        <p>Everyone can study at RS School, regardless of age, professional employment, or place of residence.</p>
        <p>The mentors and trainers of our school are front-end and javascript developers from different companies and countries.</p>
      </div>
    </div>
    <div class="courses">
      <h2>Upcoming Courses</h2>
      <div class="courses-container">
        <mat-card class="courses-card">
          <mat-card-header>
            <mat-card-title>ANGULAR (EN)</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/pm-app-angular.appspot.com/o/angular.svg.svg?alt=media&token=6d659b24-c6a7-4d0b-b7a4-48af7a5b09f2" alt="Angular logo">
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" href="https://rs.school/angular/" target="_blank">
              More details</a>
          </mat-card-actions>
        </mat-card>

        <mat-card class="courses-card">
          <mat-card-header>
            <mat-card-title>REACT (EN)</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/pm-app-angular.appspot.com/o/React-icon.svg.png?alt=media&token=613fd886-74fc-4e9d-aa14-5951ce11a6b3" alt="React logo">
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" href="https://rs.school/react/" target="_blank">
                More details</a>
          </mat-card-actions>
        </mat-card>

        <mat-card class="courses-card">
          <mat-card-header>
            <mat-card-title>JS / FRONT-END (EN)</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/pm-app-angular.appspot.com/o/Unofficial_JavaScript_logo_2.svg.png?alt=media&token=ad750b52-b291-4076-8dc7-3b4f729752b1" alt="React logo">
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" href="https://rs.school/lithuania/" target="_blank">More details</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>
</main>

<div class="back-img-03"></div>
<app-footer></app-footer>
