<h1 mat-dialog-title>{{this.data.modalHeader}}</h1>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
  <mat-form-field>

    <input
      matInput
      [(ngModel)]="data.inputValueModal"
      placeholder={{data.modalPlaceholder}}
      formControlName="valueInput">

    <mat-hint color="warn"></mat-hint>
  </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">

    <button
      mat-stroked-button
      mat-dialog-close
      (click)="onNoClick()">
      Close
    </button>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [mat-dialog-close]="data.inputValueModal"
      cdkFocusInitial>
      Submit
    </button>
  </div>
</form>
