.list-item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  min-width: 330px;

  mat-card {
    border: 1px solid #D4D4D4;
  }

  mat-card-actions {
    padding: 16px;
  }
  button {
    flex: 1 1 auto;
  }
}

.card-title {
  padding: 16px 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .reorder {
    cursor: move;
    opacity: .25;
  }

  .edit-btn {
    cursor: pointer;
    opacity: .55;
  }

  input {
    border: 0;
    background: none;
    outline: none;
    font: inherit;
    text-align: start;
    color: currentColor;
    overflow: hidden;
    padding: 8px 16px;
  }
  .actions {
    min-width: 300px;
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-right {
      align-self: flex-end;
    }

    &-left {
      flex: none;
    }

    button {
      width: auto;
      margin-left: 16px;
    }
    button:nth-child(1) {
      margin: 0;
    }
  }
  .isselected {
    border: 1px solid rgba(0, 0, 0, 0.095);
    background-color: rgba(0, 0, 0, 0.025);
    border-radius: 8px;
  }
}

button {
  mat-icon.edit {
    opacity: .55;
  }
}

button {
  mat-icon.delete, span.delete {
    color: red;
  }
}

.error-message {
    font-size: 12px;
    font-weight: 400;
}

.list-card-header {
  flex: 1 1 auto;
  border: solid 1px #ccc;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.list-card-content {
  max-height: calc(100vh - 530px);
  overflow-y: scroll;
  margin: 8px 0;
  color: rgba(0, 0, 0, 0.87);

  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;

  app-task-item {
    margin-bottom: 8px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

app-task-item:last-child {
  border: none;
}

.list-card-content.cdk-drop-list-dragging app-task-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
