<div class="list-item">
  <div class="content">
    <mat-card class="list-card">
      <mat-card-header class="list-card-header">
        <mat-card-title class="card-title">

          <form
            [formGroup]="formColumnTitle"
            (ngSubmit)="onFormSubmit"
            (submit)="onFormSubmit($event)">
            <div class="wrapper">
              <span class="material-icons reorder">reorder</span>

              <input
                matInput
                class="column-title"
                formControlName="title"
                value="title"
                placeholder="Title*..."
                [ngClass]="{'isselected' : isEdited}">

              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Edit column title icon-button menu"
                (click)="$event.preventDefault()"
                (keydown.enter)="$event.preventDefault()">

                <mat-icon class="edit-btn menu">more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu" xPosition="after">
                <button mat-menu-item (click)="onEditBtnClick()">
                  <mat-icon class="edit-btn edit">edit</mat-icon>
                  <span>Edit title</span>
                </button>
                <button (click)="onDeleteColumn()"
                  mat-menu-item
                  color="warn">
                  <mat-icon class="edit-btn delete">delete</mat-icon>
                  <span class="delete">Delete column</span>
                </button>
              </mat-menu>
            </div>

            <mat-error app-error-messages *ngIf="isEdited"
              [control]="formColumnTitle.get('title')!"
              class="error-message">
            </mat-error>

            <div *ngIf="isEdited" class="actions">
              <div class="actions-right">
                <button
                  mat-stroked-button
                  color="primary"
                  type="button"
                  (keydown.enter)="$event.preventDefault()"
                  (click)="onFormClose()">
                  Cancel
                </button>
                <button
                  mat-raised-button
                  cdkFocusInitial
                  color="primary"
                  type="submit"
                  [disabled]="formColumnTitle.invalid">
                  Submit
                </button>
              </div>
            </div>
          </form>

        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="list-card-content"
        cdkDropList
        id={{column?._id}}
        [cdkDropListData]="taskList"
        (cdkDropListDropped)="dropItem($event)"
        [cdkDropListConnectedTo]="getConnectedList()">

        <app-task-item
          cdkDrag
          [cdkDragData]="task"
          *ngFor="let task of taskList"
          [task]="task">
        </app-task-item>

      </mat-card-content>

      <mat-card-actions>
        <button  mat-raised-button color="primary" (click)="onCreateTask()">
          <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
          Add task
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
