<div class="list-item">
  <div class="content">
    <mat-card class="list-card">
      <mat-card-header class="list-card-header">
        <mat-card-title class="card-title">

          <form
            [formGroup]="formColumnTitle"
            (ngSubmit)="onFormSubmit"
            (submit)="onFormSubmit($event)">
            <div class="wrapper">
              <input
                matInput
                cdkFocusInitial
                class="column-title"
                formControlName="title"
                value="title"
                placeholder="Title*..."
                (focus)="onFocusIn($event)"
                (focusout)="onFocusOutEvent($event)"
                (blur)="onBlur()"
                [ngClass]="{'isselected' : isEdited}">

              <span class="material-icons reorder">reorder</span>
            </div>

            <mat-error app-error-messages *ngIf="isEdited"
              [control]="formColumnTitle.get('title')!"
              class="error-message">
            </mat-error>

            <div *ngIf="isEdited"
              class="actions">
              <button class="actions-left"
                mat-stroked-button
                color="warn"
                type="button"
                (keydown.enter)="$event.preventDefault()"
                (click)="onDeleteColumn()">
                Delete
              </button>
              <div class="actions-right">
                <button
                  mat-stroked-button
                  color="primary"
                  type="button"
                  (keydown.enter)="$event.preventDefault()"
                  (click)="onFormClose()">
                  Cancel
                </button>
                <button
                  mat-raised-button
                  cdkFocusInitial
                  color="primary"
                  type="submit"
                  [disabled]="formColumnTitle.invalid">
                  Submit
                </button>
              </div>
            </div>
          </form>

        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="list-card-content"
        cdkDropList
        id={{column?._id}}
        [cdkDropListData]="taskList"
        (cdkDropListDropped)="dropItem($event)"
        [cdkDropListConnectedTo]="getConnectedList()">

        <app-task-item
          cdkDrag
          [cdkDragData]="task"
          *ngFor="let task of taskList"
          [task]="task">
        </app-task-item>

      </mat-card-content>

      <mat-card-actions>
        <button  mat-raised-button color="primary" (click)="onCreateTask()">
          <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
          Add task
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
