section {
  height: calc(100vh - 84px);
  padding: 0 48px;
  margin-top: 16px;
}
.section-header {
  display: flex;
  flex-direction: row;

  h2 {
    margin: 0;
    align-self: center;
  }
}
.boards-ic {
  color: #6e17be;
  margin: 16px;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;

  app-board-card {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  app-board-card:hover {
    box-shadow: var(--mdc-protected-button-hover-container-elevation, 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12));
  }
}
